apiVersion: v1
kind: Service
metadata:
  name: auth-service
  labels:
    app: auth-service
spec:
  selector:
      app: auth-service
  ports:
  - port: {{ .Values.authentification.service-port }}
    protocol: TCP
    targetPort: 5000
  type: ClusterIP